.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 0% 5% 0%;
}

.about-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 10% 3% 10%;
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
}

.about-title p {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.about-title p::selection {
    color: #d3051e;
    background-color: #fff;
}

.svg {
    width: 20%;
    height: auto;
    transition: 0.5s ease;
}

.about-title:hover .svg {
    transform: translateX(5.8rem);
}

.about-text {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
}

.about-text p::selection {
    color: #d3051e;
    background-color: #fff;
}

.image-ex {
    background-image: url(../public/abstract-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
    opacity: 90%;
    margin: 5% 0% 5% 0%;
}

.expertise-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    z-index: 1;
    padding: 5% 10% 5% 10%;
    box-shadow: 1px 6px 5px 0px #0000006a;
}

.expertise-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.expertise-title p {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.expertise-title p::selection {
    color: #d3051e;
    background-color: #fff;
}

.expertise-title:hover .svg {
    transform: translateX(6.4rem);
}

.expertise-text {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    color: #fff;
}

.expertise-text p::selection {
    color: #d3051e;
    background-color: #fff;
}

.valores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5% 5% 5% 5%;
    background-color: #fff;
}

.valores-container p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.valores-container p::selection {
    color: #fff;
    background-color: #d3051e;
}

.valores-container span {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
}

.valores-container span::selection {
    color: #fff;
    background-color: #d3051e;
}

.div-vertical {
    background-color: #D3051E;
    width: 2px;
    height: 10rem;
}

.container-timeline {
    background-image: radial-gradient(circle at 100% 50%, #d3051e 0%, #202020 10%);
    position: relative;
    padding: 5% 10% 5% 10%;
    background-size: 200% 200%;
    animation: moveGradient 5s linear infinite alternate;
}

.container-timeline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
    opacity: 100%;
    z-index: 1;
}

@keyframes moveGradient {

    0% {
        background-position: 100% 20%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 100% 100%;
    }

}

.timeline-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 15%;
    position: relative;
    z-index: 8;
}

.timeline-title p {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.timeline-title p::selection {
    color: #d3051e;
    background-color: #fff;
}

.svg-timeline {
    width: 2%;
    height: auto;
    transition: 0.5s ease;
}

.timeline-title:hover .svg-timeline {
    transform: translateX(7.4rem);
}

.vertical-title {
    font-family: 'Sulphur Point';
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
}

.vertical-title::selection {
    color: #d3051e;
    background-color: #fff;
}

.vertical-subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    color: #858585;
}

.vertical-subtitle::selection {
    color: #d3051e;
    background-color: #fff;
}

.vertical-timeline::before {
    width: 3px !important;
}

.vertical-timeline-element-content {
    padding-top: 0 !important;
}