.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15% 10% 10% 10%;
}

.portfolio-title h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    color: #ffffff4f;
}

.portfolio-title h2::selection {
    color: #d3051e;
    background-color: #fff;
}

.portfolio-title strong {
    font-weight: 400;
    color: #fff;
}

.portfolio-title strong::selection {
    color: #d3051e;
    background-color: #fff;
}

.project-container-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 3rem;
}

.filter-btn {
    text-decoration: none;
    background-color: transparent;
    font-family: 'K2D', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10rem;
    cursor: pointer;
    width: 12rem;
    padding: 8%;
    transition: 0.5s;
}

.filter-btn::selection {
    color: #d3051e;
    background-color: #fff;
}

.filter-btn:hover {
    background-color: #fff;
    color: #000;
}

.filter-btn:focus {
    background-color: #fff;
    color: #000;
}

.clear-filter-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-family: 'Jost', sans-serif;
    cursor: pointer;
}

.clear-filter-btn::selection {
    color: #d3051e;
    background-color: #fff;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 5% 1% 5% 1%;
    width: 85%;
}

#portfolio {
    width: 35rem;
}

.phrase-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3051E;
    width: 100%;
    padding: 7% 10% 7% 10%;
    margin: 5% 0% 5% 0%;
}

.item-project {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.item-project.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.item-project.fade-slide-in {
    animation: fadeIn 0.5s ease, slideIn 0.5s ease;
}

.phrase-project h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
}

.phrase-project h2::selection {
    color: #d3051e;
    background-color: #fff;
}

#contact-page {
    width: 100%;
}