.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 13% 10% 0% 10%;
}

.content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.content-title h1 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.content-title h1::selection {
    color: #d3051e;
    background-color: #fff;
}

.content-title p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #e1e1e1;
}

.content-title p::selection {
    color: #d3051e;
    background-color: #fff;
}

.content-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content-image img {
    border: 1px solid #ffffff30;
    box-shadow: 2px 2px 5px 0px #0000004b;
    width: 100%;
    height: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.buttons-container svg {
    width: 15%;
    height: auto;
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
    color: #fff;
    background-color: transparent;
    border: 1px solid #D3051E;
    border-radius: 10rem;
    text-shadow: 0px 0px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.5s;
}

.button-content:hover {
    background-color: #D3051E;
}

.proposal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-proposal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 100rem;
    height: 18rem;
    background-color: #D3051E;
}

.div-proposal p {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
    color: #fff;
}

.div-proposal p::selection {
    color: #d3051e;
    background-color: #fff;
}

.button-proposal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10rem;
    text-shadow: 0px 0px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    transition: 0.5s;
}

.button-proposal:hover {
    background-color: #fff;
    color: #202020;
}

.button-proposal::selection {
    color: #d3051e;
    background-color: #fff;
}