@media screen and (max-width: 1440px) {
    .hamburger-container {
        width: 4rem;
    }
}

@media screen and (max-width: 1169px) {
    .vertical-timeline-element-content {
        padding-left: 2% !important;
    }

    .vertical-timeline-element-icon {
        left: 0.3% !important;
    }
}

@media screen and (max-width: 1155px) {
    .hamburger-container {
        width: 6rem !important;
    }
}

@media screen and (max-width: 1024px) {
    .hamburger-container {
        width: 10rem !important;
    }
}

@media screen and (max-width: 800px) {

    header {
        justify-content: space-between;
        gap: 1rem;
        padding: 1% 5% 1% 5%;
    }

    .navbar {
        justify-content: start;
        gap: 1.5rem;
        padding: 2% 5% 2% 5%;
        background-image: radial-gradient(circle at 100% 50%, #d3051e -15%, #202020 20%);
    }

    .logo-navbar {
        width: 40%;
    }

    .menu-buttons {
        gap: 3rem;
    }

    .header-menu {
        display: none;
    }

    .menu-link {
        width: 50%;
    }

    .mensage-btn {
        display: flex;
        width: 9.4rem;
        padding: 1.5%;
    }

    .hamburger {
        overflow: hidden;
    }

    .about-page {
        flex-direction: column;
        gap: 5rem;
        margin-top: 2rem;
        height: auto;
        background-image: radial-gradient(circle at 100% 50%, #fff -30%, #202020 20%);
    }

    @keyframes moveGradientMain {

        0% {
            background-position: 100% 27%;
        }

        100% {
            background-position: 100% 73%;
        }

    }

    button.learn-more {
        width: 60%;
    }

    button.learn-more .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        border-color: #D3051E;
    }

    button.learn-more .button-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        overflow: hidden;
        opacity: 1;
        color: #fff;
        transform: translateX(-0.8rem);
    }

    button.learn-more .icon.arrow {
        display: none;
    }

    .title-services h2 {
        text-align: center;
    }

    .services-item {
        align-items: center;
        text-align: center;
    }

    .button-services {
        width: 23%;
        padding: 1.6%;
    }

    .phrase-brand {
        text-align: center;
        align-items: center;
    }

    .container-filters {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem !important;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 0.2rem;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 5% 10% 5% 10% !important;
    }

    .links-container {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .hamburger-container {
        width: 3rem !important;
    }

    .about-text-container {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 2rem;
        padding-top: 5%;
        padding-left: 6.5%;
    }

    .expertise-text-container {
        gap: 10rem !important;
    }

    .container-timeline {
        background-image: radial-gradient(circle at 100% 50%, #d3051e -30%, #202020 20%) !important;
    }

    .timeline-title svg {
        width: 1.5rem !important;
    }

    .vertical-timeline-element-icon {
        left: 0.3% !important;
    }

    .valores-container {
        flex-direction: column;
        gap: 2.5rem !important;
        text-align: center;
    }

    .valores-container span {
        text-align: start;
    }

    .div-vertical {
        width: 30rem !important;
        height: 1px !important;
    }

    .services-page {
        background-image: radial-gradient(circle at 100% 50%, #d3051e -15%, #202020 30%);
    }

}

@media screen and (max-width: 570px) {

    .logo-navbar {
        width: 45%;
    }

    .menu-buttons {
        gap: 0.5rem;
    }

    .mensage-btn {
        width: 10rem;
        padding: 2%;
    }

    .button-mensage {
        width: 10rem;
        padding: 5% 3% 5% 3%;
    }

    .about-text-container {
        padding: 10% 5% 10% 8% !important;
    }

    .expertise-text-container {
        gap: 5rem !important;
    }

    .text-item,
    #reverse {
        flex-direction: column !important;
    }

    .title-project {
        width: 20rem;
        transform: translate(0%, 0%);
    }

    .title-div h2 {
        font-size: 1.5rem;
        font-weight: 200;
        text-transform: uppercase;
        color: #fff;
    }

    .div {
        background-color: #D3051E;
        width: 10rem;
        height: 1px;
    }

    .text-title-services {
        flex-direction: column;
        gap: 2rem;
    }

    .div-vertical {
        width: 15rem !important;
        height: 1px !important;
    }

    .services-home {
        flex-direction: column;
    }


}

@media screen and (max-width: 425px) {

    #logo-text {
        display: none;
    }

    #logo-icon {
        display: flex;
        width: 6.5rem;
    }

    .navbar {
        padding: 2% 5% 2% 5%;
    }

    .button-mensage {
        width: 9rem;
    }

    .button-mensage p {
        font-size: 0.9rem;
    }

    .menu-buttons {
        gap: 0.2rem;
    }

    .menu-link {
        font-size: 3.3rem;
        width: 70%;
    }

    .social-description {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
    }

    .mensage-btn {
        width: 34%;
        padding: 2.5% 1% 2.5% 1%;
    }

    .mensage-btn p {
        font-size: 0.9rem;
    }

    .banner-main {
        overflow: hidden;
    }

    .title-banner {
        transform: translateY(5rem);
    }

    .title-banner h1 {
        font-size: 3rem;
        text-align: center;
    }

    .text-banner {
        transform: translateY(0rem);
    }

    .services-home {
        flex-direction: column;
    }

    .services-container p {
        text-align: center;
    }

    .button-services {
        width: 50%;
        padding: 2.5%;
    }

    .container-project {
        grid-template-columns: repeat(1, 1fr);
    }

    .item-project {
        overflow: hidden;
    }

    .button-project {
        width: 40%;
        padding: 2.5%;
    }

    .phrase-brand {
        flex-direction: column;
        gap: 2rem;
        padding: 10% 0% 10% 0%;
    }

    .phrase-brand h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    .form button {
        width: 45%;
        padding: 2%;
    }

    .form input,
    textarea {
        padding: 3%;
    }

    .project-container-filter {
        gap: 3rem;
    }

    .portfolio-title {
        margin-top: 15%;
    }

    .portfolio-title h2 {
        font-size: 3rem !important;
    }

    .expertise-text-container {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 3rem !important;
        padding-left: 10% !important;
    }

    .service-title {
        padding: 20% 10% 0% 5% !important;
    }

    .service-item {
        flex-direction: column !important;
    }

    .lumos-different {
        gap: 5rem;
    }

    .different-container {
        flex-direction: column;
    }

    .bottom-section-service h2 {
        font-size: 3rem !important;
    }

}

@media screen and (max-width: 375px) {

    .navbar {
        padding: 5% 7% 5% 7%;
    }

    .menu-buttons {
        gap: 0rem;
    }

    .mensage-btn {
        padding: 3% 1% 3% 1%;
    }

    .mensage-btn p {
        font-size: 0.7rem;
    }

    .menu-link {
        width: 100%;
    }

    button.learn-more {
        width: 75%;
    }

    button.learn-more .button-text {
        font-size: 1rem;
    }

    .button-services {
        width: 55%;
        padding: 4%;
    }

    .button-services p {
        font-size: 1rem;
    }

    .title-services h2 {
        font-size: 3rem;
    }

    .text-title-services {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 15%;
    }

    .phrase-brand p {
        text-align: center;
    }

    .phrase-brand h2 {
        font-size: 2rem;
    }

    .form button {
        width: 65%;
        padding: 3.5%;
    }

    .container-filters {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 1.5rem !important;
    }

    .valores-container span {
        text-align: center;
    }

}