#root {
    overflow-x: hidden;
}

.services-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0% 10% 0%;
}

.service-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 2% 10% 2% 10%;
    gap: 1.5rem;
}

.service-title h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
}

.service-title h2::selection {
    color: #d3051e;
    background-color: #fff;
}

.service-title strong {
    font-weight: 400;
    color: #ffffff80;
}

.service-title strong::selection {
    color: #d3051e;
    background-color: #fff;
}

.service-title p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

.service-title p::selection {
    color: #d3051e;
    background-color: #fff;
}

.main__action {
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    z-index: 2;
    transform: translate(0rem, 10rem);
}

.main__scroll {
    text-decoration: none;
}

.main__scroll-text {
    color: transparent;
}

.main__scroll-box svg {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 13%;
}

.main__action:hover .main__scroll-box {
    animation: scroll-down-hover 3s infinite;
}

.main__scroll-box {
    animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down-hover {

    0%,
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    35% {
        transform: translateY(1rem);
        opacity: 0;
    }

    70% {
        transform: translateY(-1rem);
        opacity: 0;
    }
}

/* Animate scroll icon on hover keyframes */
@keyframes scroll-down {

    0%,
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    50% {
        transform: translateY(0.5rem);
        opacity: 0.5;
    }
}

.container-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 5% 5% 5%;
}

.splide__list {
    overflow-x: visible !important;
}

.container-image img {
    width: 20rem;
    height: auto;
    margin: 10%;
    box-shadow: 5px 5px 15px 5px #00000058;
}

#div-service {
    width: 90%;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0% 10% 0%;
    gap: 10rem;
}

.services span {
    font-family: 'Sulphur Point', sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 400;
    color: #fff;
}

.services span::selection {
    color: #d3051e;
    background-color: #fff;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0% 10% 0% 10%;
}

.service-item h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    width: 100%;
}

.service-item h2::selection {
    color: #d3051e;
    background-color: #fff;
}

.service-item p {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: justify;
    color: #fff;
}

.service-item::selection {
    color: #d3051e;
    background-color: #fff;
}

.text-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


.text-item p::selection {
    color: #d3051e;
    background-color: #fff;
}

.border {
    display: flex;
    justify-content: flex-start;
    background-color: #D3051E;
    width: 50%;
    height: 0.1rem;
}

.lumos-different {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 10% 5% 10%;
    background-color: #D3051E;
}

.lumos-different h3 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff80;
    text-align: start;
    width: 100%;
}

.lumos-different h3::selection {
    color: #d3051e;
    background-color: #fff;
}

.lumos-different h3 strong {
    color: #fff;
    font-weight: 400;
}

.lumos-different h3 strong::selection {
    color: #d3051e;
    background-color: #fff;
}

.different-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5%;
}

.different-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.different-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.2% 7% 5.2% 7%;
    border: 2px solid #fff;
    border-radius: 10rem;
    color: #fff;
}

.different-item span::selection {
    color: #d3051e;
    background-color: #fff;
}

.different-item p {
    color: #fff;
}

.different-item p::selection {
    color: #d3051e;
    background-color: #fff;
}

.bottom-section-service {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

.bottom-section-service h2 {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
}

.bottom-section-service h2::selection {
    color: #d3051e;
    background-color: #fff;
}